body {
	background: linear-gradient(#333333,#111111);
	background: -webkit-linear-gradient(#333333,#111111);
	background: -moz-linear-gradient(#333333,#111111);
	background: -o-linear-gradient(#333333,#111111);
	color: #ccc;
	margin: auto;
}

table {
	border: 1px solid black;
}

h1 {
	/*Set font-size to 75px*/
	/*Set font-family to Sigmar One, cursive*/
	/*Set text-align to center*/
	/*Set the font color to #99ce05*/
	/*Set bottom border to 5px solid black*/
	/*Set the bottom margin to 10px*/
	/*Set padding to 20px*/
	text-shadow: 5px 5px 8px #000;
	background: linear-gradient(#666,#333);
	background: -webkit-linear-gradient(#666,#333);
	background: -moz-linear-gradient(#666,#333);
	background: -o-linear-gradient(#666,#333);
	box-shadow: 5px 5px 5px #000;
}

h2 {
	/*Set text alignment to center*/
	/*Set text color to white*/
	/*Set font size to 30px */
	/*Set padding to 0*/
	/*Set height to 40px */
	/*Set margin to 40 px*/
	font-family: 'Sigmar One', cursive;
}

h3 {
	/*Create a custom style!*/
}

.header {
	/*Set margin to auto*/
}

.content {
	/*Set position to relative*/
	width: 310px;

}

.board {
	/*Set position to relative*/
	/*Customize margin, background and width to your liking!*/
	border: 1px solid black;
}

.row {
	border: 1px solid black;
}

.box {
	/*Customize the style for the boxes!*/
	/*Set the box dimensions, background, font and borders!*/
	border: 1px solid black;
}

.dash {
	width: 305px;
	margin: auto;
	position: relative;
	padding: 15px;
}

button {
	/*Design a gradient for background*/
	/*Dont forget to set for webkit, moz and opera too!*/
	/*Customize the style!*/
	width: 150px;
	height: 50px;
}

#endturn {
	/*Set a different background for this button*/
}

#clear {
	/*Add any customization you like!*/
}

.side {
	font-size: 50px;
	font-weight: bold;

}
#left {
	float: left;
	margin-left: 100px;
	width: 100px;
	height: auto;
	position: relative;
	font-family: 'Sigmar One', cursive;
	font-size: 75px;
	text-align: right;
	color: #fe7bff;
	text-shadow: 5px 5px 5px #000;
}

#right {
	float: right;
	margin-right: 100px;
	width: 100px;
	height: auto;
	position: relative;
	font-family: 'Sigmar One', cursive;
	font-size: 75px;
	text-align: left;
	color: #ffdb00;
	text-shadow: 5px 5px 5px #000;
}

#left p {
	text-align: right;
}
#right p {
	text-align: left;
}
.side p {
	font-size: 30px;
	color: #ccc;
}
.result {
	margin-top: 15px;
	margin-bottom: 15px;
}

.X {
	color: #fe7bff;
}

.O {
	color: #ffdb00;
}