body {
	background: linear-gradient(#333333,#111111);
	background: -webkit-linear-gradient(#333333,#111111);
	background: -moz-linear-gradient(#333333,#111111);
	background: -o-linear-gradient(#333333,#111111);
	color: #ccc;
	margin: auto;
}

div {

}

h1 {
	font-size: 75px;
	font-family: 'Sigmar One', cursive;
	text-align: center;
	color: #99ce05;
	text-shadow: 5px 5px 8px #000;
	background: linear-gradient(#666,#333);
	background: -webkit-linear-gradient(#666,#333);
	background: -moz-linear-gradient(#666,#333);
	background: -o-linear-gradient(#666,#333);
	border-bottom: 5px solid #000;
	box-shadow: 5px 5px 5px #000;
	margin-bottom: 10px;
	padding: 20px;
}

h2 {
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-family: 'Sigmar One', cursive;
	padding: 0;
	margin: 20px;
	height: 40px;
}

h3 {
	text-align: center;
	font-family: 'Sigmar One', cursive;
	color: #ffdb00;
	margin: auto;
	margin-bottom: 20px;
}

.header {
	margin: auto;
}

.content {
	position: relative;
}

.board {
	position: relative;
	margin: auto;
	background: #333;
	width: 310px;
}

.box {
	background: #666;
	width: 90px;
	height: 90px;
	font-size: 60px;
	font-family: 'Sigmar One', cursive;
	font-weight: bold;
	text-align: center;
	color: black;
	border: 5px solid #333;
	padding: 0;
}

.dash {
	width: 305px;
	margin: auto;
	position: relative;
	padding: 15px;
}

button {
	background: linear-gradient(#ffcc02,#ff9c00);
	background: -webkit-linear-gradient(#ffcc02,#ff9c00);
	background: -moz-gradient(#ffcc02,#ff9c00);
	background: -o-linear-gradient(#ffcc02,#ff9c00);
	border: 2px solid #666;
	color: white;
	font-size: 30px;
	font-family: 'Sigmar One', cursive;
	width: 150px;
	height: 50px;
}

#endturn {

}
#clear {

}

.side {
	font-size: 50px;
	font-weight: bold;

}
#left {
	float: left;
	margin-left: 100px;
	width: 100px;
	height: auto;
	position: relative;
	font-family: 'Sigmar One', cursive;
	font-size: 75px;
	text-align: right;
	color: #fe7bff;
	text-shadow: 5px 5px 5px #000;
}

#right {
	float: right;
	margin-right: 100px;
	width: 100px;
	height: auto;
	position: relative;
	font-family: 'Sigmar One', cursive;
	font-size: 75px;
	text-align: left;
	color: #ffdb00;
	text-shadow: 5px 5px 5px #000;
}

#left p {
	text-align: right;
}
#right p {
	text-align: left;
}
.side p {
	font-size: 30px;
	color: #ccc;
}
.result {
	margin-top: 15px;
	margin-bottom: 15px;
}

.X {
	color: #fe7bff;
}

.O {
	color: #ffdb00;
}