body {
  margin: auto;
  font-family: 'Helvetica', serif;
  line-height: 1.5;
}

header {
  text-align: center;
}

nav {
  width: 200px;
  height:400px;
  margin: auto;
}

h1 {
  font-size: 30px;
  border-bottom: 5px solid #000;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 60px;
  background-color: black;
  padding: 20px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a.btn {
  text-decoration: none;
}

td a {
  color: #2e6da4;
}

.content {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px 0 20px;
}

.sidebar {
  float: left;
  background-color: #31b0d5;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
}

#songForm {
  padding: 10px;
  margin-left: 220px;
}

#songList {
  list-style: none;
}

.btn {
  /*Tweak the button so that the color scheme and size look nice!*/
  background-color: orangered;
  border:3px solid #ce8483;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 200px;
  display: inline-block;
  padding: 5px;
}
